<a href="https://colab.research.google.com/github/bwilli60/2025HUDS-Bootcamp/blob/main/Exit_Ticket_Print_and_DTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

## Numeric Data Type

You can check the data type of an object using the `type()` command.
The syntax looks like this: `type(variableName)`

### Your turn now.
Store the following into three different objects and check their data types:
* 2
* 1086J
* 3.14567

In [6]:
# Create an object with a value of 2
value1 = 2

# Check the data type
type(value1)

int

In [10]:
# Create an object with a value of 1086J
value1= "1086J"

# Check the data type
type(value1)

str

In [16]:
# Create an object with a value of 3.14567
value1= 3.14567

# Check the data type
type(value)

int

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [19]:
# Printing your name
My_Name = 'Brianna'

# Check the results of the My_Name variable
print(My_Name)

Brianna

In [15]:
# Check the data type of the My_Name variable
type(My_Name)

str

You can combine string methods with print statements to request information from a user. This uses the `input` statement and gives users a blinking cursor to enter information.

Complex print statements are also possible where it prints string text, the contents of a variable, and even perform small operations in the statement and return the results. In the example below we will create a variable called `my_name` and use the input method to ask the user to input their name. From there we can print a statement saying hello, the user's entered name, and some punctuation. In the next print statement we can use the `type()` method to print the data type of the variable `my_name`.

In [20]:
# Your turn to play around now.
# Use the input statement to ask a user to enter their name
# Syntax looks like this: descriptiveVariableName = input("Question to be asked? ")
my_name = input('Please input your name ')

# Use a print statement to check your input. Add a greeting to your statement.
# Syntax looks like this: print("Greeting", descriptiveVariableName, "!")
print("How's it going? ", my_name, "!")

# Now use a print statement to tell the user the data type.
# Syntax looks like this: print("Your name is a ",type(descriptiveVariableName))
print("your name is a ", type(my_name))

Please input your name Brianna
How's it going?  Brianna !
your name is a  <class 'str'>

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [6]:
# Let's check how many characters does your name contain.
variable = "Brianna"
# Syntax: len(variableName)
len("Brianna")

7

In [16]:
# Let's see if My_Name is all Caps or not.
nocapital = "Brianna"
capital = "BRIANNA"
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
nocapital = False
captial = True
# Syntax: variableName.isupper()
print(Brianna and BRIANNA)

NameError: name 'Brianna' is not defined

In [19]:
# Let's convert My_Name to all caps.
variableName = "Brianna"
print("My_Name")
# Syntax: variableName = variableName.upper()
 variableName = variableName.upper("Brianna")

# Call the variable using the variable name.
print("Brianna")

IndentationError: unexpected indent (<ipython-input-19-8b27f17b0c0d>, line 5)

In [67]:
# Check the uppercase again,
isupper = "BRIANNA"
variableName = ("Brianna")
# Now the output of isupper() changes to True.
print(isupper)

BRIANNA

In [58]:
# Your turn to try it now.
# Write a sentence and store it into an object.
car = "Honda "
sentence = "my neighbor drives a {car} "
# Don't forget quotation marks for strings
new_sentence= "my neighbor drives a Honda "

# Use a print statement to view your new_sentence
print("my neighbor drives a " + car)
# Use the .upper() method in a print statement to print the upper case sentence
car = "Honda"
upper = "HONDA"
print ("Honda" and upper(car))
# HINT Use a print statement, your variable name, and the .upper() method


# Use the .capitalize() method to print the sentence with the first word capitalized.
capitalize("my neighbor drives a ")
# Your turn to try it now.
# Write a sentence and store it into an object.
car = "Honda "
sentence = "my neighbor drives a {car} "
# Don't forget quotation marks for strings
new_sentence= "my neighbor drives a Honda "

# Use a print statement to view your new_sentence
print("my neighbor drives a " + car)
# Use the .upper() method in a print statement to print the upper case sentence
car = "Honda"
upper = "HONDA"
print(car.upper())
# HINT Use a print statement, your variable name, and the .upper() method


# Use the .capitalize() method to print the sentence with the first word capitalized.
print("my neighbor drives a ".capitalize(my))
# Your turn to try it now.
# Write a sentence and store it into an object.
car = "Honda "
sentence = "my neighbor drives a {car} "
# Don't forget quotation marks for strings
new_sentence= "my neighbor drives a Honda "

# Use a print statement to view your new_sentence
print("my neighbor drives a " + car)
# Use the .upper() method in a print statement to print the upper case sentence
car = "Honda"
upper = "HONDA"
print(car.upper())
# HINT Use a print statement, your variable name, and the .upper() method


# Use the .capitalize() method to print the sentence with the first word capitalized.
print("my neighbor drives a ".capitalize())

# Use the .title() method to print the sentence with the first letter of each word capitalized.
print("my neighbor drives a ".title())

my neighbor drives a Honda

TypeError: 'str' object is not callable

In [45]:
# Check the data type of the object you just created.
car = "Honda"
type(upper(car))

TypeError: 'str' object is not callable

In [46]:
# Check if it is all caps or not.
HONDA = True
Honda = False
honda = False
# Syntax: variableName.isupper()
print (HONDA and Honda and honda)

False

In [47]:
# Challenge - Check if it is all lower case or not.
honda = True
Honda = False
HONDA = False
# Use the example above to complete the challenge question
print(honda and Honda and HONDA)

False

In [51]:
# Challenge - Convert your object into all caps.
isupper = "HONDA"
isupper = True

In [64]:
# Challenge - Convert your object into all lower case.
text = "HONDA"
lower_text = ("honda")
print(lower_text)

honda

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [69]:
# Create two variables, one with a value of True, one with a value of False
Bluesky = True
Purplesky = False
print(Bluesky and Purplesky)

False

In [70]:
# Check the data type of your new variables
Bluesky = True
Purplesky = False
# HINT: you can check multiple items by separating the statements with a comma
type(Bluesky)
type(Purplesky)

bool

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [71]:
# Create an object containing an integer.
pooldepth = 7
print(pooldepth)

7

In [72]:
# Check the data type of your new object
pooldepth = 7
type(pooldepth)

int

In [73]:
# You want to use the value 1 as text. So let's convert it.
variableName= 1
# Syntax: variableName = str(variableName)
variableName = str(1)

In [74]:
# Check the data type of your new object again.
variableName= 1
type(variableName)

int

# Personal Notes
* **I originally got an error message becuase I did nto add quotes around the numbr set**

In [77]:
# Exercise for you. Store the number 123456 as string.
numberline = "123456"
print(numberline)
# Check the data type
type(numberline)

123456

str

In [79]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
variable1 = "2700"
print(variable1)
# HINT: Any value inside of quotes is a string

# Check the data type of your variable
type(variable1)

2700

str

In [81]:
# Let's learn to convert string to integer now.
# Syntax: variableName = int(variableName)
motorcycle = int("3700")
# Check the data type
type(motorcycle)

int

In [82]:
# Let's convert a string to a float.
# Syntax: variableName = float(variableName)
houses = float(12)
# Check the data type
type(houses)

float

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats.
But very often we come across data being stored incorrectly especially while importing.